* {
    margin: 0;
    padding: 0;
   }
body{
    background-color: black;
}
.icon{
    width: 130px;
}
.img {
    margin: 30px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    padding: 30px 40px 20px 40px;
}
label{
    display: block;
    padding: 15px 0;
}
li {
    list-style-type: none;
}
input{
    border-radius: 20px;
    border: 1px solid #808080;
    height: 31px;
    width: 270px;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 100;
}
a{
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
}
button {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    margin: 20px 0;
    padding: 7px;
    border-radius: 40px;
    font-size: 17px;
    width: 120px;
    background-color: #ddc0f5d2;
    color: #181010ce;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 0px 7px 3px #fff;
    padding-left: 0;
    margin-left: 20px;
}
input:focus{
    box-shadow: 0px 0px 5px 2px #7d7da7;
}
button:hover{
    box-shadow: 0px 0px 5px 1px #7d7da7;
    padding-left: 4px;

}
.menu {
    color: #fff;
    display: flex;
    justify-content: center;
}
.menu>p {
    padding: 5px;
    margin-top: 50px;
    color: #80808070;
}
.menu>p:hover{
    color: #fff;
    cursor: pointer;
}
.create-acc:hover{
    color: #c4a0c4;
    cursor: pointer;
}
.div4 {
    display: none;
}

.arrow::after {
    content: "\21DC";
    color: #000;
}
.arrow {
    display: none;
    padding-left: 0;
    transition: 0.5s ;
}
.arrow:hover {
    border-radius: 22px;
    cursor: pointer;
    background-color: #70686852;
    padding: 5px 7px;
}

